﻿.vs/
.vs/
.vscode/
.idea/
*.idea
Library/
Logs/
Build/
obj/
Temp/
*.sln
*.csproj
FMOD/.*
!FMOD/Build/
fmod_editor.log
Assets/Plugins/FMOD/Cache
Assets/Plugins/FMOD/Cache.meta
Assets/Plugins/PersonalPlugins
Assets/Plugins/PersonalPlugins.meta
